

:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }




.heading-title{
    text-align: center;
}




.booking .book-form{
    padding:1rem;
    background: var(--light-bg);
 }
 
 .booking .book-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
 }
 
 .booking .book-form .flex .inputBox{
    flex:1 1 41rem;
 }
 
 .booking .book-form .flex .inputBox input{
    width: 100%;
    padding:1.2rem 1.3rem;
    font-size: 1.3rem;
    color:var(--light-black);
    text-transform: none;
    margin-top: 1.2rem;
    border:var(--border);
 }
 
 .booking .book-form .flex .inputBox input:focus{
    background: var(--black);
    color:var(--white);
 }
 
 .booking .book-form .flex .inputBox input:focus::placeholder{
    color:var(--light-white);
 }
 
 .booking .book-form .flex .inputBox span{
    font-size: 1.3rem;
    color:var(--light-black);
 }
 
 .booking .book-form .btn{
    margin-top: 1.4rem;
 }





 




